.search-bar {
  border-radius: to-rem(16px);
  padding: to-rem(32px);
  background-color: $white;
  gap: to-rem(16px);
  justify-content: center;
  box-shadow: 0 to-rem(2px) to-rem(8px) to-rem(4px) rgba(178, 178, 178, 0.45);

  .destDiv, .budgetDiv, .dateDiv {

    width: 100%;

    label {
      display: block;
      color: $text-color;
      font-weight: 500;
      font-size: to-rem(13px);
      padding-bottom: to-rem(7px);
    }

    input, .date-input {
      width: 100%;
      background: $input-bg;
      border-radius: $btn-border-radius;
      border: none;
      padding: to-rem(10px);
      font-size: to-rem(13px);
      font-weight: 500;

      &::placeholder {
        font-size: to-rem(13px);
        opacity: .5;
        font-weight: 400;
      }

      &:focus {
        outline: none;
      }

      .btn {
        width: 100%;
        padding: to-rem(10px) to-rem(24px);
        color: $white;
        font-weight: 500;
      }
    }
  }

  .date-range {
    display: flex;
    width: 100%;

    .date-input {
      text-align: center;
    }
  }
}

//.DateRangePickerInput {
//  padding: 0;
//}