// Colors
$primary-color: #0057d9;
$secondary-color: #7f8c8d;
$blue: #267dff;
$light-blue: #689ce9;
$text-color: #333;
$bg-color: #f5f5f5;
$white: #fff;
$gray-300: #848484;
$gray-200: #ccc;

// Fonts
$font-size: 16px;
$button-font-size: 14px;

$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;

/* Numeric keyword values */
$font-weight-1: 100; /* thin */
$font-weight-2: 200; /* extra-light  */
$font-weight-3: 300; /* light */
$font-weight-4: 400; /* normal */
$font-weight-5: 500; /* medium */
$font-weight-6: 600; /* semi-bold */
$font-weight-7: 700; /* bold */
$font-weight-8: 800; /* extra-bold */
$font-weight-9: 900; /* black */

$btn-border-radius: 9999px;